/hs1101lf.mod.c
/hs1101lf.ko
/hs1101lf.mod.o
/hs1101lf.o
/example-counter.cnn
/Module.symvers
/modules.order
/.tmp_versions/
/.hs1101lf.ko.cmd
/.hs1101lf.mod.o.cmd
/.hs1101lf.o.cmd
/gpio_keys.c
/tmp007.c
